.card {
    display: inline-block;
    text-align: center;
    max-width: 200px;
    margin: 10px;
    transition: transform 500ms;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 10px $shadow-color;

    &:hover {
        transform: scale(1.1);

        .card-header {
            background-color: $card_color_hover;
        }
    }
}

.card-header {
    @include body_text(1.2rem);
    background-color: $card_color;
    padding: 15px 40px 15px 40px;
    color: white;
    transition: background-color 500ms;
}

.card-body {
    @include body_text(0.75rem);
    background-color: white;
    padding-bottom: 15%;
}

.card-pricing {
    padding-top: 10%;
    padding-bottom: 10%;
}

.card-pricing__amount {
    @include header_text(2.4rem);
}