.graph {
    width: 80%;
    margin-top: 50px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 10px $shadow-color;
    padding: 2.5% 5% 2.5% 5%;
    box-sizing: border-box;

    @media screen and (max-width: 767px) {
        margin-top: 10px;
        width: 90%;
    }
}

.graph-label {
    @include body_text(1.0rem);

    span:nth-child(2){
        float: right;
    }
}

.graph-bar {
    height: 20px;
    width: 100%;
    background-color: $background_color;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 25px;
    overflow: hidden;
}

.graph-bar__filled {
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms;
    height: inherit;
    background-color: $card_color;
    border-radius: 10px;
}